<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="static/script.js" defer></script>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Example IP getter page</h1>
        <p>After entering this site, your IP will display here</p>
        <div class="logs">
            <h2 class="ip"></h2>
            <table class="logs-table">
                <thead>
                    <tr>
                        <th>Endpoint</th>
                        <th>Country</th>
                        <th>Risk Score</th>
                        <th>Risk Level</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </body>
</html>